*{box-sizing: border-box;}

h1{
    color:#f5c518;
}
/* Container of the poster */
.movie-poster{
    position: relative;
}

/* Image responsiveness */
.movie-poster__image{
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* overlay text */
.movie-poster__overlay{
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    font-size: 1.5vw;
    text-align: center;
}

.movie-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

/*Buttons*/
.pag__ctrl{
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-align: center;
}

.pag__ctrl button, .schedule-buttons button{
    padding: 10px;
    font-weight: bold;
    font-size: 2vw;
    cursor: pointer;
    background-color: #2a4447;
    color: white;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
}

.schedule-container{
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    margin-top: 3vw;
}

.schedule-buttons{
    margin-bottom: 5vw;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.hr{
    margin-top: 3vw;
    margin-left: 20vw;
    margin-right: 20vw;
    height: 1px;
    background-color: #f5c518;
    border: none;
}

.image-container{
    width: 20vw;
}
.schedule-day__image{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .movie-container{
        grid-template-columns: 1fr;
    }

    .movie-poster__overlay{
        font-size: 8vw;
    }

    h1{
        font-size: 15vw;
    }

    .movie-poster{
        margin-bottom: 5vw;
    }

    .schedule-container{
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 3vw;
    }

    .pag__ctrl button{
        font-size: 8vw;
    }
}