body{
    overflow: hidden;
}

#movie-info{
    background-color: rgba(0, 0, 0, 0.7);
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.movie-info{
    width: fit-content;
    padding: 5px 15px;
    color: white;
}

.info-container p{
  font-size: 2vw;
}

h1{
  font-size: 4vw;
}

img.movie-info{
    width: 20vw;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

.trailer-container{
    width: 100vw;
    height: auto;
    z-index: -99;
    pointer-events: none;
}

.trailer{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    border: none;
}


@media (min-aspect-ratio: 16/9) {
    .trailer-container .trailer {
      height: 56.25vw;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .trailer-container .trailer {
      width: 177.78vh;
    }
  }

  @media screen and (max-width: 600px){
    #movie-info{
      width: 90vw;
      grid-template-columns: 1fr;
      float: none;
      margin-left: auto;
      margin-right: auto
    }
    img.movie-info{
      width: 70vw;
      margin-left: auto;
      margin-right: auto;
    }
    .info-container p{
      font-size: 5vw;
      text-align: center;
    }

    .info-container h1{
      font-size: 7vw;
      text-align: center;
    }


  }