*{box-sizing: border-box;}

/* Container of the poster */
.movie-poster{
    position: relative;
}

/* Image responsiveness */
.movie-poster__image{
    display: block;
    width: 100%;
    height: auto;
}

/* overlay text */
.movie-poster__overlay{
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    font-size: 1.5vw;
    text-align: center;
}

.movie-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1vw;
    margin-left: 5vw;
    margin-right: 5vw;
}
