.navigation-bar{
    background-color: #f5c518;
    text-align: center;
    width: 100%;
    bottom: 0px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navigation-bar__container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20vw;
    margin-right: 20vw;
}

.navigation-bar__user{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.navigation-bar__button{
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #f5c518;
    color: black;
    text-decoration: none;
    transition: background-color 0.15s;
    font-size: 1vw;
}

.navigation-bar__button:visited{
    color: black;
}

.navigation-bar__button:hover{
    background-color: #aa890f;
}

.navigation-bar__button:active{
    background-color: #775f09;
}

/* Adds active page highlight */
#page- .navigation-bar__button--home{
    background-color: #aa890f;
}

#page-login .navigation-bar__button--login{
    background-color: #aa890f;
}

#page-signup .navigation-bar__button--signup{
    background-color: #aa890f;
}

@media screen and (max-width: 600px) {
    .navigation-bar{
        column-gap: 5px;
    }

    .navigation-bar__button{
        font-size: 3vw;
    }  
}