h1{
    font-size: 8vw;
    color: #f5c518;
}

.movie-container{
    width: 90vw;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    column-gap: 2vw;
    margin-left: auto;
    margin-right: auto;
}

.movie-container img{
    width: 100%;
    height: auto;
}

.schedule-container{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: auto;
    height: 8vw;
    row-gap: 1vw;
}

.schedule-container h2{
    text-align: center;
    font-size: 2vw;
}

.schedule-container button, .schedule-container input{
    font-size: 1vw;
}

.confirming-container, .confirming-container button{
    font-size: 2vw;
}

@media screen and (max-width: 600px){
    .movie-container{
        grid-template-columns: 1fr;
    }

    .confirming-container, .confirming-container button{
        font-size: 7vw;
    }

    .schedule-container h2{
        text-align: center;
        font-size: 8vw;
    }
    
    .schedule-container button, .schedule-container input{
        font-size: 4vw;
    }

    .schedule-container{
        margin-bottom: 50vw;
    }
}