.info-container, .schedule-container{
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    color: white;
    background-color: #193033;
    font-size: 2vw;
    box-shadow: 7px 7px 7px black;
    border-radius: 7px;
}


.info-container p{
    margin-left: 4vw;
    margin-right: 4vw;
}

.info-container form, .schedule-container p{
    margin-left: 4vw;
    margin-right: 4vw;
}

.schedule-container p{
    text-align: center;
    font-size: 2vw;
}

.hr{
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

input{
    font-size: 1.5vw;
}

/*placeholder text for chrome*/
input::-webkit-input-placeholder {
    color: black;
}

/*Placeholder text for firefox*/
input::-moz-placeholder {
    color: black;
}

.input-container{
    display: relative;
    float: right;
}

@media screen and (max-width: 1000px){
    .info-container, .schedule-container{
        margin-left: 15vw;
        margin-right: 15vw;
        font-size: 3vw;
    }
    input, .schedule-container{
        font-size: 2vw;
    }
}

@media screen and (max-width: 600px){
    .info-container, .schedule-container p{
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: 10vw;
    }
    input, .schedule-container p{
        font-size: 5vw;
    }
}