*{
    box-sizing: border-box;
}

#usersignup{
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    padding-left:2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 7px;
    box-shadow: 7px 7px 7px black;
    background-color: #193033;
    font-size: 2em;
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    font-size: 2vw;
}

input{
    font-size: 1.2vw;
}
/*
#gridright{
    float: right;
}
#gridleft{
    float: left;
}
*/

@media screen and (max-width: 1000px){
    #usersignup{
        margin-left: 15vw;
        margin-right: 15vw;
        font-size: 3vw;
    }
    input{
        font-size: 2vw;
    }
}

@media screen and (max-width: 600px){
    #usersignup{
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: 10vw;
        margin-top: 10vw;
        margin-bottom: 10vw;
    }

    input{
        font-size: 5vw;
    }
}
