*{
    box-sizing: border-box;
}

#usersignup{
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 20vh;
    padding-left:2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 7px;
    box-shadow: 7px 7px 7px black;
    background-color: #193033;
    font-size: 2em;
    display: grid;
    grid-template-columns: 1fr;
    color: white;
}
/*
#gridright{
    float: right;
}
#gridleft{
    float: left;
}