.navigation-bar{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #ffc426;
    text-align: center;
    width: 100%;
    bottom: 0px;
    position: sticky;
    top: 0;
    z-index: 100;
}
.navigation-bar__button{
    padding-bottom: 20px;
    padding-top: 20px;
    color: black;
    transition: background-color 0.15s;
    font-size: 1vw;
}

.navigation-bar__button:hover{
    text-decoration: none;
}

.navigation-bar__button:visited{
    color: black;
}

.navigation-bar__button:hover{
    background-color: #ce9f1f;
}

.navigation-bar__button:active{
    background-color: #705712;
}

.navigation-bar--current-page{
    background-color: #b98f1b;
}

@media screen and (max-width: 600px) {
    .navigation-bar{
        column-gap: 5px;
    }

    .navigation-bar__button{
        font-size: 3vw;
    }  
}