extends layout

block url 
  -var baseURL = "../"

block content
    script(src=baseURL + "./javascripts/functions.js")
    link(rel="stylesheet" href=baseURL + "./stylesheets/moviedescription.css")
    script(src=baseURL + "./javascripts/moviedescription.js")