footer
  ul.footer__ul
    li
      a(href='/') Home
    li
      a(href='https://www.nick.com' target='_blank') Nickelodeon
    li
      a(href='https://www.spongebobshop.com/' target='_blank') Shop
    li
      a(href='https://twitter.com/SpongeBob' target='_blank') Twitter
    li
      a(href='https://www.instagram.com/spongebob/?hl=en' target='_blank') Instagram
    li
      a(href='https://www.facebook.com/spongebob/' target='_blank') Facebook
    li
      a(href='#top') Back to Top ^
    p.footer__copyright
      span.footer__popcorncinema Popcorn Cinema
      |  &#169; 

