extends layout

block navbar 
  nav(class="navigation-bar")
    a(class="navigation-bar__button" href="/") Home


block content
  h1 Our movies:
  p= dbMovies
  each val in dbMovies
    p= val.title
    img(src= 'images/' + val.image)
    //- script(src="/javascripts/dbaccess.js")
  //- p Welcome to #{title}

