extends layout

block content
  link(rel="stylesheet", href="/stylesheets/movieposters.css")
  link(rel="stylesheet", href="/stylesheets/moviedescription.css")
  h1 Popcorn Cinema
  script.
    const dbMovies = !{jsStringify(dbMovies)};
  script(src="/javascripts/functions.js")
  script(src="/javascripts/movieposter.js")
