extends layout

block url 
  -var baseURL = ""


block content
  link(rel="stylesheet", href=baseURL + "./stylesheets/movieposters.css")
  h1 Popcorn Cinema
  script(src=baseURL + "./javascripts/functions.js")
  script(src=baseURL + "./javascripts/movieposter.js")
