doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    script(src="javascripts/functions.js")
  body
    block navbar
    block content
    //- script(src="/javascripts/dbaccess.js")
