nav(class="navigation-bar")
  a(class="navigation-bar__button" href="/") Home
  a(class="navigation-bar__button" href="/spongebobwebsite/index.html") Spongebob
  a(class="navigation-bar__button" href="/") Login
  a(class="navigation-bar__button" href="/") Signup