extends layout

block url 
  -var baseURL = ""

block content
    h1 Your Order
    script(src=baseURL + "./javascripts/functions.js")
    link(rel=baseURL + "stylesheet" href="./stylesheets/order.css")
    script(src=baseURL + "./javascripts/order.js") 