extends layout 

block url 
  -var baseURL = "../"

block content 
    link(rel='stylesheet', href=baseURL + './stylesheets/profile.css')

    script(src=baseURL + "./javascripts/functions.js")
    script(src=baseURL + "./javascripts/profile.js")