extends layout 

block url 
  -var baseURL = "../"

block content
    link(rel='stylesheet', href=baseURL + './stylesheets/usersignup.css')

    #usersignup
        h2 User Sign Up
        form(action=baseURL + './db/users/signup' method="POST")
            label(for='fullname') Full name:
            br
            input#fullname(type='text' name='fullname' value='')
            br
            label(for='username') *Username:
            br
            input#username(type='text' name='username' value='' required)
            br
            label(for='password') *Password:
            br
            input#password(type='password' name='password' value='' required)
            br
            label(for='email') *Email:
            br
            input#email(type='email' name='email' value='' required)
            br
            label(for='street') Street:
            br
            input#street(type='text' name='street' value='')
            br
            label(for='streetno') Street Number:
            br
            input#streetno(type='number' name='streetno' value='')
            br
            label(for='creditcard') *Creditcard:
            br
            input#creditcard(type='number' name='creditcard' value='' required)
            br
            input(type='submit' value='Submit')
        p Everything with a * is required