extends layout 

block url
  -var baseURL = "../"

block content
    link(rel='stylesheet', href=baseURL + './stylesheets/userlogin.css')

    #userlogin
        h2 User Login
        //- if(messages.error)
            p= messages.error
        form(action=baseURL + './db/users/login' method="POST")
            label(for='username') Username:
            br
            input#username(type='text' name='username' value='')
            br
            label(for='password') Password:
            br
            input#password(type='password' name='password' value='')
            br
            br
            input(type='submit' value='Submit')
